#Theory Questions: Data Types and Structures

#1. What are data structures, and why are they important?

- Data structures are ways to store and organize data.
- They help us use data efficiently, like finding or updating it quickly.
- Examples: list, tuple, dictionary, set.

#2.  Explain the difference between mutable and immutable data types with examples?

- Mutable means we can change the value (e.g., list, dictionary).
- Immutable means we can't change it once it's made (e.g., string, tuple).

In [ ]:
#example (mutable)
my_list = [1, 2, 3]
my_list[0] = 10  # Allowed
my_list

[10, 2, 3]

In [ ]:
#example (immutable)
my_str = "hello"
my_str[0] = 'H' #Error
my_str

TypeError: 'str' object does not support item assignment

#3. What are the main differences between lists and tuples in Python?

- Lists are mutable, slower, and use more memory.
- Tuples are immutable, faster, and use less memory.
- Lists: [1, 2, 3], Tuples: (1, 2, 3)

#4. Describe how dictionaries store data.

- Dictionaries store data as key-value pairs using a hash table under the hood. Each key is hashed to a unique index, allowing fast access, insertion, and deletion.

#5. Why might you use a set instead of a list in Python?

- Sets automatically remove duplicates

- Faster lookup with O(1) average time complexity

- Ideal for membership testing, e.g., checking if an item exists

#6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters and immutable.

- A list is a sequence of items that can be of different types and is mutable.

In [ ]:
#example
str1 = "hello"     # Immutable
print(str1)

hello

In [ ]:
str1[0] = "H"
print(str1)

TypeError: 'str' object does not support item assignment

In [ ]:
list1 = ['h', 'e', 'l', 'l', 'o']  # Mutable
print(list1)

['h', 'e', 'l', 'l', 'o']

In [ ]:
list1[0] = "H"
print(list1)

['H', 'e', 'l', 'l', 'o']

#7. How do tuples ensure data integrity in Python?

- Tuples are immutable, meaning their values can’t be altered after creation. This makes them reliable for read-only or fixed data, reducing the risk of accidental changes.

#8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, enabling constant-time lookup and insertion.

#9. Can lists contain different data types in Python?

- Yes, Python lists can hold items of mixed data types:

In [ ]:
#example
my_list = [1, "hello", 3.14, True]
my_list

[1, 'hello', 3.14, True]

#10. Explain why strings are immutable in Python.

- Strings are immutable to:
- Improve security
- Enable string interning (memory optimization)
- Ensure consistent hash values for use in keys (e.g., in dictionaries)

#11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are faster for finding data if you know the key.
- Easy to read and understand with key-value format.
- Good for storing data like name and age: {"name": "Mayuresh", "age": 22}

#12. Describe a scenario where using a tuple would be preferable over a list.

- When you don’t want the data to change.
- When using it as a key in a dictionary.
- Example: storing coordinates (10, 20)

#13. How do sets handle duplicate values in Python?

- Sets do not allow duplicate values.

In [ ]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

#14.How does the “in” keyword work differently for lists and dictionaries?

- In lists, it checks if a value exists in the list (O(n))
- In dictionaries, it checks if a key exists (O(1))

#15.  Can you modify the elements of a tuple? Explain why or why not.

- No, tuples are immutable, so once created, their elements cannot be changed. This ensures data stability and allows them to be used as keys in dictionaries.

#16. What is a nested dictionary, and give an example of its use case.

- A nested dictionary is a dictionary inside another dictionary.

In [ ]:
#example
student = {
  "name": "Ravi",
  "marks": {"math": 90, "science": 85}
}

{'name': 'Ravi', 'marks': {'math': 90, 'science': 85}}

In [ ]:
student

{'name': 'Ravi', 'marks': {'math': 90, 'science': 85}}

#17. Describe the time complexity of accessing elements in a dictionary.

- On average: O(1) → very fast.
- In rare cases: O(n) → if there’s a hash collision.

#18. In what situations are lists preferred over dictionaries?

- When we just need to store simple values.
- When the order of items matters.
- When we don’t need key-value pairs.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries used to be unordered (before Python 3.7). Now they preserve insertion order but conceptually they are key-based and not position-based.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List: use index to get value → list[0]
- Dictionary: use key to get value → dict['name']
- Dictionary is better when you know the key.

#Practical Questions

In [ ]:
#1.  Write a code to create a string with your name and print it?
name = "Mayuresh"
print(name)

Mayuresh

In [ ]:
#2. Write a code to find the length of the string "Hello World"?
str1 = "Hello World"
len(str1)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
code = "Python Programming"
code [:3]

'Pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase?
str = "hello"
print(str.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sentence = "I like apple"
sentence.replace("apple", "orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list4 = [10, 20, 30, 40, 50]
print(list4[ : :-1])

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1 = ('red', 'green', 'blue', 'yellow')
print(t1[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t2 = (10, 20, 5, 15)
print(min(t2))

5

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pets = ('dog', 'cat', 'rabbit')
print(pets.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [103]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
elements = {1, 2, 3, 4, 5}
elements.clear()
print(elements)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num =  {1, 2, 3, 4}
num.remove(4)
print(num)
#Output: {1, 2, 3}

{1, 2, 3}

In [99]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

{2, 3}

In [ ]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"John", "age":25, "city":"New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info = {'name': 'Alice', 'age': 30}
print(info["name"])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info1["age"]
print(info1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
info2 = {'name': 'Alice', 'city': 'Paris'}
if "city" in info2:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

In [ ]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print themmy_tuple = (4, 5, 6)
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [ ]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[32, 55, 57, 64, 72]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[2])

cherry

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [119]:
#30.  Write a code to convert a list of strings into a set.

str_list = ["apple", "banana", "cherry", "date", "elderberry"]
# Now calling the built-in set function
str_set = set(str_list)
print(str_set)

{'date', 'elderberry', 'apple', 'banana', 'cherry'}